
# Desc: Player sample configuration file for controlling Stage devices
# Date: 18 Apr 2003
# CVS: $Id$


simulation
(	
  # stg_simulation is the default driver for the simulation interface
  # driver "stg_simulation"

  # the stg_simulation driver understands these settings
  # (shown with their default values):	
  # host "localhost" 	
  # port "6601"	
  # worldfile "default.world"

  worldfile "test.world"	
)

position:0
(
  driver "stg_position"
  #model [0 redrobot]
  velocity [0.1 0.0 0.2]
)

laser:0
(
  driver "stg_laser"
  #model [0 bluelaser]
)
