#Epuck driver
driver
(
  name "epuck"
  plugin "libepuck"

# The camera interface slow down the e-puck response for others interfaces,
# if you will not use the camera, don't put it in "provides".
#
  provides ["position2d:0"
            "ir:0"
            "camera:0"
            "ring_led0:::blinkenlight:0"
            "ring_led1:::blinkenlight:1"
            "ring_led2:::blinkenlight:2"
            "ring_led3:::blinkenlight:3"
            "ring_led4:::blinkenlight:4"
            "ring_led5:::blinkenlight:5"
            "ring_led6:::blinkenlight:6"
            "ring_led7:::blinkenlight:7"
            "front_led:::blinkenlight:8"
            "body_led:::blinkenlight:9"]

  port "/dev/rfcomm1"

# Camera configuration, all these options may be omitted
#   sensor_x1 240
#   sensor_y1 160
#   sensor_width 160
#   sensor_height 160
#   zoom_fact_width 4
#   zoom_fact_height 4
#   color_mode "GREY_SCALE_MODE"

)
